* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    cursor: url(../photo/defualtmousicon.png), default;
}

.lol{
    background-image: url("blue_bg.png");
    background-size: cover;
    position: relative;
    height: 85vh; 
    background-repeat: no-repeat;
    background-position: center;
}

.back{
    width: 700px;
    position: absolute;
    top: 10%;
    left: 50%;
    overflow: hidden;
}

.man{
    position: absolute;
    z-index: 3;
    width: 300px;
    vertical-align: middle;
    border-style: none;
    left: 60%;
    top: 15%;
}

.clouds{
    position: absolute;
    z-index: 3;
    width: 300px;
    left: 58%;
    top: 73%;
    vertical-align: middle;
    border-style: none;
    width: 400px;
}

.waves{
position: absolute;
width: 1100px;
top: 88%;
overflow:visible;
}

.header{
    display: flex;
    margin-left: 150px;
}

.heimg{
width: 150px;
padding-top:50px;
}

.he{
        color:gray;
        font-weight: 600;
        font-size: small;
        display: flex;
        width: 30%;
        justify-content: space-around;
        margin-left: 50px;
        margin-top: 80px;
}

.login{
    background-color: white;
    border: white;
    color: rgb(76, 76, 76);
    border-radius: 50px;
    width: 90px;
    height: 28px;
}

.but{
    margin-left: 520px;
    margin-top: 75px;
}

.login:hover{
    color: #00e3fca9;
}

.txt{
    margin-left: 200px;
    margin-top: 130px;
}

.nn{
font-size: 50px;
}

.nm{
margin-top: 20px;
font-size: 25px;
max-width: 42%;
color: #000000a1;
}

.imp{
    background-image: url("Group\ 1131.png");
    background-size: cover;
    position: relative;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
.imp2{
position: absolute;
width: 600px;
margin-left: 800px;
margin-top: 100px;
}

.down{
margin-top: 320px;
margin-left: 90px;
width: 350px;
}

.fa-instagram{
    padding: 7px;
    font-size: 35px;
    color: white;
}
.fa-whatsapp{
    padding: 7px;
    font-size: 35px;
    color: white;
}
.fa-facebook-f{
    padding: 7px;
    font-size: 35px;
    color: white;
}

.ic{
    position: absolute;
    /* margin-top:400px ; */
    margin-left: 100px;
    size: 200px;
}

.FOO{
    color: white;
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}

.q{
    padding-right: 70px;
}

.second{
    background-image: url("second_section_.png");
    background-size:contain;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 300px;
    width:900px;
    height: 570px;
}

.first{
    position: absolute;
    right: 75%;
    top: 20%;
}

.jui{
    color: #595959c3;
    width: 300px;
}

.pool{
    position: absolute;
    left: 35%;
    top: 40%;
}

.disc{
    position: absolute;
    left: 75%;
    top:85%;
}

.fdd{
    position: absolute;
    right: 75%;
    top: 85%;
    width: 300px;
}

.colo{
    color: white;
    position: absolute;
    top: 99%;
}